.container {
    margin-left: 52px;
}

.logo {
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}


.nav-item {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.tweet-btn {
    height: 50px;
    width: 50px;
    background: rgb(29, 161, 242);
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.profile-pic img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 40px;
}